/*
공통레이아웃 : Header , Footer
공통CSS : Animation, for JS
*/

/* Header */
.header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	width: 1050px;
	margin: 10px auto;
}

/* header : logo */
.header {
	color: var(--secondary-color);
	font-weight: 800;
}

.header > .logo {
	margin-bottom: 30px;
}

.logo > a {
	display: block;
	padding: 50px 0;
	text-align: center;
	color: var(--secondary-color);
}

.logo > a::before {
	display: block;
}

/* header : user-area */
.user-area {
	display: inline-block;
	margin-right: auto;
	-webkit-box-ordinal-group: 0;
	-ms-flex-order: -1;
	order: -1;
}

.user-nav > li {
	display: inline-block;
}

.user-nav a {
	display: block;
	padding: 0 10px;
	font-size: 12px;
	text-align: center;
}

.service-nav {
	position: relative;
}

.service-snb {
	display: none;
	position: absolute;
	top: 30px;
	width: 100px;
	padding: 5px 0;
	border: 1px solid #fae9d3;
	border-radius: 5px;
	opacity: 0;
	-webkit-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}

.service-snb a {
	display: block;
	padding: 3px 0 3px 10px;
	text-align: left;
}

.user-nav > li:not(:last-child),
.gnb > li:not(:last-child) {
	border-right: 2px solid var(--primary-color);
}

/* header : gnb */
.main-gnb {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.gnb-tablet {
	display: none;
}

.gnb-tablet::after {
	display: inline-block;
	content: '\f0c9';
	font-size: 30px;
	color: var(--secondary-color);
}

.gnb-close {
	display: none;
	position: absolute;
	top: 20px;
	right: 20px;
	width: 50px;
	height: 50px;
}

.gnb-close::after {
	display: block;
	content: '\f00d';
	color: var(--secondary-color);
	font-size: 50px;
}

.gnb > li {
	display: inline-block;
}

.gnb a {
	display: block;
	padding: 3px 50px 0;
	-webkit-transition: color 0.1s linear;
	-o-transition: color 0.1s linear;
	transition: color 0.1s linear;
}

.gnb a:hover,
.gnb-btn:hover::before {
	color: var(--accent-light);
}

/* header : gnb - 전체보기 */
.gnb-btn {
	position: relative;
}

.gnb-btn::before {
	position: absolute;
	top: 5px;
	left: 10px;
	display: block;
	cursor: pointer;
	content: '\f0c9';
}

/* header : search bar and cart */
.search-area {
	position: relative;
}

.gnb-search {
	padding: 6px 10px;
	border: none;
	border-radius: 20px;
	background-color: var(--primary-color);
}

.search-ico::before {
	position: absolute;
	top: 5px;
	right: 15px;
	display: block;
	content: '\f002';
}

.cart-area {
	position: relative;
}

.cart-link::before {
	display: block;
	color: var(--secondary-color);
	font-size: 20px;
	content: '\f07a';
}

.cart-count {
	position: absolute;
	right: -10px;
	top: -10px;
	display: block;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: var(--accent-color);
	font-size: 15px;
	text-align: center;
	color: var(--white-color);
}

/* header : snb */

.main-snb {
	display: none;
	position: absolute;
	top: 230px;
	left: 0;
	right: 0;
	background-color: rgba(255, 255, 255, 0.8);
	z-index: 100;
}

.snb-wrap {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 1080px;
	height: 300px;
	margin: 0 auto;
}

.snb-close {
	position: absolute;
	top: 10px;
	left: 20px;
	padding: 10px;
}

.snb-close::before {
	display: block;
	content: 'X';
	font-size: 30px;
}

.snb-nav a {
	display: block;
	width: 160px;
	padding: 15px 0 10px 27px;
	font-size: 20px;
}

.snb-nav a:hover {
	color: var(--secondary-color);
}

.snb-item {
	display: none;
	width: 100%;
}

.snb-item ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	height: 100%;
}

.snb-item li {
	width: 20%;
}

.snb-item img {
	width: 100%;
	opacity: 1;
	-webkit-transition: opacity 0.3s ease-in;
	-o-transition: opacity 0.3s ease-in;
	transition: opacity 0.3s ease-in;
}

.snb-item img:hover {
	opacity: 0.8;
}

/* Footer  */

.footer {
	height: 300px;
	background-color: var(--primary-color);
}

/* footer: default layout */
.footer-wrap {
	position: relative;
	width: 1080px;
	padding: 10px 0;
	margin: 0 auto;
	color: var(--secondary-color);
}

/* footer: quick links */
.quick-links {
	position: absolute;
	right: 10px;
	top: 30px;
	text-align: right;
}

.quick-links a {
	display: block;
	padding: 3px 0;
	margin-bottom: 3px;
	font-size: 14px;
	font-weight: 800;
	opacity: 0.8;
}

.quick-links a:hover {
	text-decoration: underline;
	opacity: 1;
}

/* footer : social links */
.social-links ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 30px 0;
}

.social-links a {
	display: block;
	padding: 5px 10px;
}

.social-links .facebook::before {
	display: block;
	content: '\f082';
	font-size: 30px;
	text-align: center;
}

.social-links .instagram::before {
	display: block;
	content: '\e055';
	font-size: 30px;
	text-align: center;
}

.social-links .blog::before {
	display: block;
	content: '\f37c';
	font-size: 30px;
	text-align: center;
}

/* footer: address */
.address > h2 {
	margin-bottom: 10px;
	font-size: 16px;
	font-weight: 400;
}

.company-info {
	width: 900px;
	margin-bottom: 30px;
	font-size: 15px;
}

.company-info dt,
.company-info dd {
	display: inline-block;
}

.company-info dd.line-break {
	width: 300px;
}

.company-info dt {
	font-weight: 800;
}

.company-info dt::after {
	display: inline;
	content: ' : ';
}

.company-info dd {
	margin-right: 10px;
}

.company-copyright {
	font-size: 15px;
}

/*Common: CSS for JS */

.hideScroll {
	height: 100vh;
	overflow: hidden;
}

/*Common: Animation */

@-webkit-keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
		display: block;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
		display: block;
	}
}

@-webkit-keyframes fadeOut {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
		z-index: -100;
	}
}

@keyframes fadeOut {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
		z-index: -100;
	}
}

/************************
	MEDIA QUERY 
***********************/

@media screen and (max-width: 1100px) {
	.header {
		width: 100%;
		margin: 0;
	}

	/* header : logo */
	.logo > a {
		padding: 0;
		color: var(--secondary-color);
	}

	/* header : user-area */
	.user-area {
		width: 100%;
		padding: 10px 0;
		margin: 0;
	}

	.main-gnb {
		padding: 20px 20px;
		-webkit-box-ordinal-group: 0;
		-ms-flex-order: -1;
		order: -1;
	}

	.user-nav > li:not(:last-child),
	.gnb > li:not(:last-child) {
		border-right: none;
	}

	/* header : gnb */
	.gnb-tablet {
		display: block;
	}

	.gnb-wrap {
		position: absolute;
		top: -40px;
		left: 0;
		width: 100%;
		height: 100vh;
		background-color: var(--white-color);
		opacity: 0;
		-webkit-transform: translateX(-1500px);
		-ms-transform: translateX(-1500px);
		transform: translateX(-1500px);
		-webkit-transition: -webkit-transform 0.5s linear;
		transition: -webkit-transform 0.5s linear;
		-o-transition: transform 0.5s linear;
		transition: transform 0.5s linear;
		transition: transform 0.5s linear, -webkit-transform 0.5s linear;
		z-index: 9999;
	}

	.gnb-wrap.active {
		opacity: 1;
		-webkit-transform: translateX(0);
		-ms-transform: translateX(0);
		transform: translateX(0);
	}

	.gnb-close {
		display: block;
	}

	.gnb {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		width: 100%;
		height: 100vh;
		font-family: 'GyeonggiBatang';
	}

	.gnb > li {
		display: block;
		margin-bottom: 40px;
	}

	.gnb a {
		display: block;
		padding: 3px 30px 0;
		-webkit-transition: color 0.1s linear;
		-o-transition: color 0.1s linear;
		transition: color 0.1s linear;
		font-size: 60px;
	}

	.search-area {
		display: none;
	}

	/* header : gnb - 전체보기 */
	.gnb-btn::before {
		content: '';
	}

	/* header : snb */

	.main-snb {
		display: none;
	}

	/* footer  */
	.footer {
		height: auto;
	}

	/* default layout */
	.footer-wrap {
		width: 90%;
		color: var(--secondary-color);
	}

	/* quick links */
	.quick-links {
		position: relative;
		right: 0;
		top: 0;
		text-align: left;
	}

	.quick-links li {
		display: inline-block;
		padding: 20px 0;
	}

	.quick-links a {
		padding: 0;
		margin-bottom: 3px;
	}

	/* footer : social links */
	.social-links ul {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		padding: 0 0 10px 0;
	}

	.social-links a {
		display: block;
		padding: 5px 10px;
	}

	/* address */
	.company-info {
		width: 100%;
		margin-bottom: 10px;
	}

	.company-info dt,
	.company-info dd {
		display: inline-block;
	}

	/*	address */
	.company-info dd.line-break {
		width: auto;
	}
}

@media screen and (max-width: 768px) {
	/*	header */
	.header {
		height: 300px;
		background-color: var(--secondary-color);
		color: var(--primary-color);
	}

	.logo {
		margin: 20px;
	}

	.logo > a,
	.gnb-tablet::after,
	.cart-link::before {
		color: var(--primary-color);
	}

	.gnb-wrap {
		-webkit-transform: translateX(-900px);
		-ms-transform: translateX(-900px);
		transform: translateX(-900px);
	}

	/*	footer */
	.quick-links a {
		font-size: 12px;
	}

	.address address {
		display: none;
	}

	.company-copyright {
		font-size: 13px;
	}
}
