/*layout of page */


#header,
.company_info,
.company_card,
.side_banner,
.customer_review {
    width: 980px;
     margin: 0 auto;
}

/*                                                                                                    header */

.nav-top {
    height: 20px;
    margin: 10px  0;
}

.nav-topleft {
    float: left;
}

.nav-topright {
    float: right;

}

.nav_item-top {
    float: left;
    margin-right: 5px;
    
}

.title_logo {
    width: 27.65%;
    margin: 0 auto 10px;
}

.nav-main {
    padding: 0 110px;
}

.nav_item-main {
    display: inline-block;
    margin-right: 40px;
}

.nav_item-main:last-child {
    margin-right: 0;
}

/*                                                                                                    main */
/*                                                                                                    main banner */
.main_banner_img { 
    display: block;
}

/*                                                                                                    company info*/
.company_info {
    padding: 10px 0;
    height: 250px;
}

.company_info_item {
    float: left;
}

.info_item_1 {
    width: 24%;
}

.info_item_2 {
    width: 48%;
}

.company_info_title {
    margin-bottom: 10px;
}

.company_info_desc {
    margin-bottom: 40px ;
    font-size: 0.8rem;
}

.company_mall_item {
    float: left;
    margin-right: 20px;
    text-align: center;
    font-size: 0.7em;
}

.company_mall_item:first-child {
    margin-left: 90px;
}

/*                                                                                                    company card */

.company_card_item {
    float: left;
}

/*                                                                                                  side banner */
