/* RESET & COMMON  */

/* font  */
@font-face {
  font-family: 'RIDIBatang';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/RIDIBatang.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'RIDIBatang', sans-serif;
}

/* reset  */

* {
  margin: 0;
  box-sizing: border-box;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* common  */

img {
  display: block;
}

.clear-fix::after {
  display: block;
  content: '';
  clear: both;
}

/* STYLING CSS */
/* color  */
/*
main - #ff5050
sub - #ffc000
sub - #5b9bd5
*/
.wrap {
  width: 1200px;
  margin: 0 auto;
  border: 1px solid #ff5050;
}

/* header  */
.header {
  position: relative;
}

.logo {
  float: left;
  width: 20%;
  height: 100px;
  border-right: 1px solid #ff5050;
  color: #ff5050;
  text-align: center;
  line-height: 100px;
}

.gnb-area {
  position: relative;
  float: left;
  width: 80%;
  height: 100px;
}

.gnb {
  position: absolute;
  right: 5px;
  bottom: 0;
}

.gnb>li {
  float: left;
}

.gnb a {
  display: block;
  width: 120px;
  padding: 5px;
  text-align: center;
}

.gnb a:hover {
  background-color: #ff5050;
  color: #fff;
}

.gnb-subarea {
  display: none;
  position: absolute;
  top: 100px;
  width: 100%;
  height: 150px;
  background-color: #ff5050;
}

.sub-right {
  float: right;
  margin-right: 5px;
}

.gnb-sub {
  float: left;
}

.gnb-sub a {
  display: block;
  width: 120px;
  padding: 5px;
  color: #fff;
  text-align: center;
}

.gnb-sub a:hover {
  background-color: #fff;
  color: #ff5050;
}

/* main  */

/* main - imgslide  */
.img-slides {
  position: relative;
  height: 300px;
}

.img-slides>img {
  position: absolute;
  top: 0;
  opacity: 1;
  transition: opacity .5s linear;
}

.img-slides>img.on {
  opacity: 0;
}

/* main - contents  */

.main-contents {
  height: 200px;
}

.contents {
  float: left;
  width: calc(100%/3);
  padding: 10px;
}

.contents-title {
  position: relative;
  top: 1px;
  width: 30%;
  border: 1px solid #ff5050;
  border-bottom: 1px solid #fff;
  color: #ff5050;
}

.contents-title>a {
  display: block;
  padding: 5px;
  text-align: center;
}

.contents-body {
  height: 150px;
  padding: 15px 10px;
  border: 1px solid #ff5050;
}

/* contents - notice  */
.notice {
  padding: 5px 0;
}

.notice a {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
}

.notice-text {
  float: left;
  width: 250px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.notice-date {
  float: right;
}

/* contents - gallery  */

.gallery img {
  float: left;
  width: calc(90%/3);
  height: 110px;
  margin: 5px;
}

/* footer  */

.footer {
  height: 100px;
}

.footer-left {
  float: left;
  width: 90%;
}

.footer-nav {
  height: 50px;

}

.footer-nav li {
  float: left;
}

.footer-nav a {
  display: block;
  padding: 10px;
}

.copyright {
  padding: 5px 10px;
}

.footer-right {
  float: right;
  width: 10%;
  height: 100%;
  padding: 5px;
}

.footer-right>label {
  color: #ff5050;
}