.dropdown {
  max-width: 600px;
  width: 100%;
}

.dropdown-title {
  position: relative;
  padding: 5px 10px;
  background-color: #ebf5fc;
  box-shadow: -3px -3px 5px rgba(255, 255, 255, 0.5), 3px 3px 5px rgba(0, 0, 0, 0.05);
  cursor: pointer;
}

.dropdown-title::after {
  display: inline-block;
  position: absolute;
  right: 15px;
  transform: rotate(90deg) scale(0.5, 1);
  transition: transform 0.3s linear;
  content: '>';
}

.dropdown-title.active {
  box-shadow: inset -6px -6px 20px rgba(255, 255, 255, 0.5), inset 6px 6px 20px rgba(0, 0, 0, 0.05);
}

.dropdown-title.active::after {
  transform: rotate(-90deg) scale(0.5, 1);
}

.dropdown-content {
  display: none;
  padding: 10px;
  background-color: #ebf5fc;
  box-shadow: inset -6px -6px 20px rgba(255, 255, 255, 0.5), inset 6px 6px 20px rgba(0, 0, 0, 0.05);
}

.dropdown-content.active {
  display: block;
}
