.infobar {
  position: fixed;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  width: 400px;
  padding: 20px;
  margin-top: -100%;
  background-color: #ebf5fc;
  box-shadow: -6px -6px 20px rgba(255, 255, 255, 0.5), 6px 6px 20px rgba(0, 0, 0, 0.05);
  text-align: center;
  transition: all 0.2s;
}

.infobar.active {
  margin-top: 0;
}
