// font-family 
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
$font-main : "Roboto", "Segoe UI", Helvetica, Arial, sans-serif, "Segoe UI Emoji";

// font-size: heading 
$font-size-h1: 40px;
$font-size-h2: 28px;
$font-size-h3: 22px;
$font-size-h4: 18px;
$font-size-h5: 16px;
$font-size-h6: 13px;
$line-height-h: 1.25;

// font-style: body
$font-size-16: 16px;
$line-height-16: 1.61;

$font-size-14: 14px;
$line-height-14: 1.34;

$font-size-13: 13px;
$line-height-13: 1.22;

