@import './typography';
@import './colors';

body,
input,
button {
  font-family: $font-main;
}

.main {
  width: 600px;
  margin: 0 auto;
}

.title {
  text-align: center;
}

article {
  margin-bottom: 50px;
}

// Design 👉 Colors

.color-p {
  width: 48px;
  height: 48px;
  border-radius: 5px;
  margin-right: 10px;
}

.brand-color,
.color-divider {
  display: flex;
}

.brand-color {
  justify-content: space-between;
}

.base,
.primary-contrast,
.error-contrast,
.success-contrast {
  border: 1px solid #d1d1d1;
  background-color: $white;
}

.primary {background-color: $primary;}
.primary-text {background-color: $primary-text;}

.error {background-color: $error;}
.error-text {background-color: $error-text;}

.success {background-color: $success;}
.success-text {background-color: $success-text;}

.shade {background-color: $shade;}
.shade-90 {background-color: $shade-90;}
.shade-80 {background-color: $shade-80;}
.shade-70 {background-color: $shade-70;}
.shade-60 {background-color: $shade-60;}
.shade-50 {background-color: $shade-50;}
.shade-40 {background-color: $shade-40;}
.shade-30 {background-color: $shade-30;}
.shade-20 {background-color: $shade-20;}
.shade-10 {background-color: $shade-10;}
.shade-5 {background-color: $shade-5;}

.heading-text {background-color: $heading-text;}
.body-text {background-color: $body-text;}
.secondary-text{background-color: $secondary-text;}
.tertiary-text{background-color: $tertiary-text;}
.icon{background-color: $icon;}
.disabled-text{background-color: $disabled-text;}

// Design 👉 Typography

.heading-1 {font-size: $font-size-h1; line-height: $line-height-h}
.heading-2 {font-size: $font-size-h2; line-height: $line-height-h}
.heading-3 {font-size: $font-size-h3; line-height: $line-height-h}
.heading-4 {font-size: $font-size-h4; line-height: $line-height-h}
.heading-5 {font-size: $font-size-h5; line-height: $line-height-h}
.heading-6 {font-size: $font-size-h6; line-height: $line-height-h}

.body-1 {font-size: $font-size-16; line-height: $line-height-16;}
.body-2 {font-size: $font-size-14; line-height: $line-height-14;}
.body-3 {font-size: $font-size-13; line-height: $line-height-13;}