/* 공통 CSS */
@import url(../base/base.css);
@import url(../base/common.css);


/*인증번호 팝업창 */
.popup-wrap {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	display: none;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 100;
}

.popup-wrap.active {
	display: flex;
}

.phone-recheck {
	position: relative;
	background-color: var(--white-color);
	width: 400px;
	height: 300px;
	padding: 20px;
	border-radius: 10px;
}

.phone-recheck > .close-btn::after {
	position: absolute;
	right: 10px;
	top: 10px;
	display: block;
	content: 'X';
	font-size: 20px;
	font-weight: 800;
}

.phone-recheck > h3 {
	margin-bottom: 20px;
	text-align: center;
}

.phone-recheck> p {
	margin-bottom: 40px;
	font-size: 14px;
	font-weight: 800;
}

.resend-btn,
.revalidate-btn {
	display: block;
	width: 80%;
	padding: 10px;
	margin: 10px auto;
	border-radius: 5px;
	background-color: var(--secondary-color);
	color: var(--white-color);
}

/*회원가입 폼*/
.signup {
	max-width: 550px;
	width: 90%;
	margin: 40px auto;
}

.signup-list > label,
.phone-list label,
.optional-form p {
	display: inline-block;
	width: 100px;
	margin-right: 10px;
	font-weight: 800;
}

.signup-list > input,
.phone-list input,
.optional-form input {
	max-width: 430px;
	width: 80%;
	height: 40px;
	border: none;
	background-color: var(--primary-color)
}

/* signup form */
.signup > h2 {
	padding-bottom: 20px;
	margin: 40px 0;
	border-bottom: 2px solid var(--primary-color);
	color: var(--secondary-color);
	text-align: center;
}

.signup-form {
	width: 100%;
}

.signup-form ul {
	margin-bottom: 20px;
}

.signup-list {
	margin-bottom: 10px;
}

.phone-list input {
	max-width: 320px;
	width: 80%;
}

.phone-list button {
	width: 102px;
	height: 40px;
	background-color: var(--secondary-color);
	color: var(--white-color);
	font-weight: 800;
}

.news-desc {
	padding: 20px 0;
	color: var(--secondary-color);
}

input[type='checkbox'].checkbox-input {
	width: 15px;
	height: 15px;
	cursor: pointer;
}

/*signup validation style */

.signup-list > .error,
.signup-list > .required{
	display: none;
	color: #ff0000;
	font-size: 12px;
	font-weight: 800;
}

.signup-list > .correct{
	display: none;
	color: #019119;
	font-size: 12px;
	font-weight: 800;
}

.phone-list button.validate-question-btn {
	display: none;
	width: auto;
	background-color: transparent;
	font-weight: 800;
	text-decoration: underline;
}

/*optional information */
.signup-optional button {
	position: relative;
	display: block;
	width: 100%;
	height: 80px;
	border: 2px solid #000;
	border-color: var(--primary-color) var(--white-color);
	color: var(--secondary-color);
	font-size: 20px;
	font-weight: 800;
	text-align: left;
}

.signup-optional button::after {
	position: absolute;
	right: 30px;
	display: inline-block;
	font-size: 30px;
	color: var(--secondary-color);
	content: '\f106';
	transform: rotate(0);
	transition: transform .3s linear;
}

.signup-optional button.active::after {
	transform: rotate(180deg);
}

.optional-form {
	display: none;
	padding: 20px;
	border-bottom: 2px solid var(--primary-color);
}

.optional-form label {
	margin-right: 10px;
}

.optional-list > strong,
.optional-list > p {
	display: inline-block;
	margin: 10px 0;
	font-size: 14px;
}

/*signup agreement */
.signup-agreement > h2 {
	padding: 20px 10px;
	color: var(--secondary-color);
}

.agreement-wrap {
	width: 100%;
	margin-bottom: 40px;
	border: 4px solid var(--primary-color);
	border-radius: 10px;
}

.agreement-title {
	position: relative;
	padding: 10px;
	border-top: 1px solid var(--primary-color);
	color: var(--secondary-color);
	font-size: 20px;
	font-weight: 800;
}

.agreement-title > button {
	position: absolute;
	top: 50%;
	right: 10px;
	transform: translateY(-50%);
}

.agreement-detail {
	display: none;
	height: 200px;
	padding: 15px;
	overflow-y: scroll;
	background-color: var(--primary-color);
}

.signup-btn {
	display: block;
	width: 300px;
	height: 40px;
	padding: 10px 20px;
	margin: 0 auto;
	border-radius: 5px;
	background-color: var(--secondary-color);
	color: var(--white-color);
	font-weight: 800;
}

@media screen and (max-width: 1100px) {
	.signup-list {
		display: flex;
		flex-direction: column;
	}

	.signup-list > label {
		margin-bottom: 5px;
	}

	.signup-list > input {
		max-width: none;
		width: 100%;
	}

	.phone-list > input {
		max-width: none;
		width: 100%;
		margin-bottom: 10px;
	}

	.news-list {
		display: block;
	}
}
