* {
  margin: 0;
  box-sizing: border-box;
}

ul {
  padding: 0;
  list-style-type: none;
}

.wrap {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  padding: 20px;
  background-image: url(../[201012]-Harry-Potter-API/images/background.jpg);
  background-size: cover;
  background-position: bottom;
}

.search-label {
  margin-bottom: 5px;
  color: #fff;
}

.searchbar {
  width: 450px;
  margin-bottom: 10px;
}

.characters {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.character-list {
  display: flex;
  width: 450px;
  height: 130px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.3);
}

.character-img {
  display: block;
  width: 100px;
  border-radius: 10px 0 0 10px;
}

.character-desc {
  padding: 30px;
}
