/* reset  */
* {
  margin: 0;
  box-sizing: border-box;
}

body,
input,
button {
  font-family: "Poppins", sans-serif;
}

ul {
  padding: 0;
  list-style-type: none;
}

button {
  border: none;
  background-color: transparent;
}

/* common  */

.sr-only {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

input {
  width: 100%;
  max-width: 728px;
  height: 30px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
}

/* style css */
body {
  background-color: #faee5a;
}

.wrap {
  width: calc(100% - 356px);
  max-width: 1440px;
  margin: 0 auto;
}

.header {
  margin-bottom: 53px;
}

.header-title {
  color: #4b89ac;
  font-size: 100px;
  text-align: center;
}
