/* reset  */
* {
  margin: 0;
  box-sizing: border-box;
}

body,
input,
button {
  font-family: "Poppins", sans-serif;
}

ul {
  padding: 0;
  list-style-type: none;
}

button {
  border: none;
  background-color: transparent;
}

/* common  */

.sr-only {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

input {
  width: calc(100% -356px);
  border: none;
  border-radius: 10px;
  box-shadow: 1px 1px 3px #000;
}
