/* reset  */
html {
  font-size: 62.5%;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body,
input,
button {
  font-family: "Poppins", sans-serif;
}

ul {
  padding: 0;
  list-style-type: none;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}

/* common  */

.sr-only {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

input {
  width: 100%;
  height: 4rem;
  border: none;
  border-radius: .5rem;
  box-shadow: 0 .4rem .4rem rgba(0, 0, 0, 0.3);
}

.search-form,
.todo-list,
.add-form,
.footer {
  max-width: 72.8rem;
  width: 100%;
  margin: 0 auto;
}

/* style css */

body {
  background-color: #faee5a;
}

.wrap {
  width: calc(100% - 35rem);
  max-width: 144rem;
  margin: 0 auto;
}

.header {
  margin-bottom: 5.3rem;
  text-align: center;
}

.header-title {
  color: #4b89ac;
  font-size: 10rem;
  text-align: center;
}

.search-input {
  margin-bottom: 6.7rem;
}

.todo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todo-list {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.6rem;
  background-color: #fff;
}

.todo-list:last-child {
  margin-bottom: 10rem;
}

.list-text {
  padding: 1.7rem 1.8rem;
  font-size: 1.6rem;
}

.btn {
  width: 3rem;
  height: 3rem;
  background: url(./img/sprite.png) no-repeat;
  background-size: 200%;
}

.check-btn {
  background-position: .6rem .5rem;
}

.delete-btn {
  background-position: .6rem -4.1rem;
}

.add-form {
  margin-bottom: 1rem;
}

.footer {
  text-align: center;
  font-size: 1.3rem;
}

/* style for javascript  */

.line-through {
  text-decoration: line-through solid #000;
}

.complete-ico::before {
  position: absolute;
  left: -32px;
  top: 20px;
  width: 20px;
  height: 20px;
  background-image: url(img/check.svg);
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
}