/* reset css */
* {
  margin: 0;
  box-sizing: border-box;
}

ul {
  padding: 0;
  list-style-type: none;
}

button {
  border: 0;
  background-color: transparent;
}

/* 기본 CSS  */

body,
button {
  font-family: "Noto Sans KR", sans-serif;
}

.wrap {
  width: 900px;
  margin: 20px auto;
}

/* 탭 메뉴 버튼  */

.tab-menu {
}

.tab-menu::after {
  display: block;
  content: "";
  clear: left;
}

.tab-menu_list {
  float: left;
}

.tab-menu_btn {
  width: 300px;
  padding: 10px 20px;
  border: 2px solid #ddd;
  border-bottom: 0;
  font-size: 1rem;
}

.tab-menu_btn:hover {
  font-weight: 800;
}

.tab-menu_list + .tab-menu_list.tab-menu_btn {
  margin-left: -2px;
}

/* 탭 메뉴 텍스트  */

.text-wrap {
  height: 100px;
  padding: 20px;
  border: 2px solid #ddd;
  border-top: 0;
}

.tab-text_list {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
