.header {
  min-height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 15px;
  h1 {
    color: #a9bdd2;
    font-size: 16px;
  }

  button {
    padding: 5px 10px;
    border: none;
    border: 2px solid #a9bdd2;
    background-color: transparent;
    color: #a9bdd2;
    font-weight: 800;
    letter-spacing: 0.1em;
    transition: background 0.5s ease;
    cursor: pointer;
    z-index: 10;
    &:hover {
      background-color: #a9bdd2;
      color: #fff;
    }
  }
}

@media screen and (min-width: 768px) {
  .header {
    h1 {
      font-size: 20px;
    }
  }
}
