.song-container {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  img {
    width: 40%;
    border-radius: 50%;
  }
  h3 {
    padding: 20px 0 5px;
  }
}
