/* RESET CSS  */
* {
  margin: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
li {
  padding: 0;
  list-style-type: none;
}

img {
  display: block;
}

address {
  font-style: normal;
}

/* COMMON CSS  */

body {
  font-family: "Noto Sans KR", sans-serif;
}

.sr-only {
  position: absolute;
  width: 1 px;
  height: 1 px;
  margin: -1 px;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-title {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 72px;
  text-align: center;
  color: #fff;
  transition: top 300ms linear;
}

.section-title > span {
  display: block;
  font-weight: 300;
  font-size: 22px;
  letter-spacing: 0.2em;
  margin-bottom: 5px;
}
