/* 
 * SKIP-NAVIGATION  
*/
#skip {
  position: relative;
  z-index: 3000;
}

#skip a {
  position: absolute;
  top: -30px;
  left: 0;
  width: 100%;
  background: #333;
  text-align: center;
}

/* 
 * HEADER  
*/

.header {
  position: relative;
}

/* header-top  */
.header-top {
  display: flex;
  padding: 20px 10px;
  flex-direction: column-reverse;
}

.main-logo img {
  width: 80%;
  margin: 0 auto;
  max-width: 210px;
}

.user-nav {
  margin-bottom: 40px;
}

.user-nav ul {
  display: flex;
  color: #00458b;
  font-weight: 800;
  font-size: 14px;
  justify-content: flex-start;
}

.user-nav li {
  margin: 0 3px;
}

/* header-bottom  */
.menu-btn {
  position: absolute;
  top: 22px;
  right: 10px;
  background-color: transparent;
}

.header-bottom > nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 8888;
}

.header-bottom .inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  max-width: 500px;
  background-color: #00458b;
  z-index: 9999;
}

.gnb {
  position: relative;
  padding: 60px 0;
}

.gnb-list {
  display: flex;
}

.gnb-list > h2 {
  width: 100px;
  padding: 10px;
  color: #fff;
  font-size: 18px;
  text-align: center;
}

.snb {
  position: absolute;
  top: 0;
  left: 100px;
  width: calc(100% - 100px);
  height: 100vh;
  padding: 60px 0;
  font-size: 16px;
  background-color: #fff;
}

.snb-depth1 {
  display: block;
  position: relative;
  padding: 10px;
}

.snb-depth1:hover {
  font-weight: 800;
}

.snb-depth1::after {
  position: absolute;
  top: 50%;
  right: 10px;
  width: 11px;
  height: 11px;
  background: url("../images/css_sprites.png") -286px -484px;
  content: "";
  transform: translateY(-50%);
}

.snb-depth2 {
  height: 0;
  font-size: 14px;
  background-color: #e3ebf2;
  overflow: hidden;
}

.snb-depth2 li {
  position: relative;
}

.snb-depth2 li::before {
  position: absolute;
  top: 2px;
  padding: 0 5px;
  color: #949494;
  content: "·";
}

.snb-depth2 a {
  display: block;
  padding: 3px 10px 3px 15px;
}

.gnb-btn button {
  position: absolute;
  top: 10px;
  right: 0;
  background-color: transparent; /*IE crossbrowsing*/
}

.gnb-btn svg {
  width: 30px;
  height: 30px;
}

/* events  */
.header-bottom > nav.close {
  display: none;
}

.gnb-list > h2.active {
  color: #0452a0;
  background-color: #fff;
}

.snb > li.active .snb-depth1 {
  color: #fff;
  font-weight: 800;
  background-color: #0452a0;
}

.snb > li.active .snb-depth1::after {
  width: 12px;
  height: 1px;
  background: url("../images/css_sprites.png") -178px -386px;
}

.snb > li.active .snb-depth2 {
  height: auto;
  overflow: auto;
}

.snb.hidden {
  display: none;
}

/* 
 * MAIN - Slides Section  
*/

/* slides common  */

/* common  */
.slides-section {
  padding: 15px 0;
  background-color: #e3ebf2;
  margin-bottom: 20px;
}
.slide-top a {
  position: relative;
  display: block;
}

.slide-top p {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
}

.slide1 .controls,
.slide2 .controls {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 5px;
  height: 35px;
  border-radius: 0 0 10px 0;
  display: flex;
  align-items: center;
  background-color: rgba(30, 56, 112, 0.767);
}

.slide1 .prev,
.slide2 .prev {
  width: 26px;
  height: 26px;
  background: url("../images/css_sprites.png") -339px -410px;
}

.slide1 .stop,
.slide2 .stop {
  width: 26px;
  height: 26px;
  background: url("../images/css_sprites.png") -431px -410px;
  margin: 0 5px;
}

.slide1 .next,
.slide2 .next {
  width: 26px;
  height: 26px;
  background: url("../images/css_sprites.png") -385px -410px;
}

/* slide-top: slide1  */
.slide1 {
  position: relative;
  width: 90%;
  margin: 0 auto 10px;
}

.slide1-content {
  border-radius: 10px;
}

.slide1-content img {
  border-radius: 10px;
}

/* slide-top: slide 2  */

.slide2 {
  width: 40%;
  max-width: 364px;
}

/* slide-bottom: slide 3  */
.slide3 {
  position: relative;
  padding: 0 15px;
}

.slide3 li {
  text-align: center;
  font-weight: 800;
  font-size: 13px;
}

.slide3 a::before {
  display: block;
  height: 54px;
  margin: 20px auto;
  background-image: url("../images/css_sprites.png");
  content: "";
}

.slide3 a.icon1::before {
  width: 65px;
  background-position: -448px -10px;
}

.slide3 a.icon2::before {
  width: 55px;
  background-position: -172px -410px;
}

.slide3 a.icon3::before {
  width: 57px;
  background-position: -95px -410px;
}

.slide3 a.icon4::before {
  width: 73px;
  background-position: -230px -230px;
}

.slide3 a.icon5::before {
  width: 58px;
  background-position: -100px -339px;
}

.slide3 a.icon6::before {
  width: 70px;
  background-position: -10px -339px;
}

/* 
 * MAIN - info section
*/
.info-top {
  margin-bottom: 20px;
}

/* info-top : tab  */

.tab {
  width: 85%;
  margin: 0 auto 20px;
}

.tab-btns {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  font-size: 13px;
  background-color: #0e64bc;
}

.tab-btns li {
  position: relative;
}

.tab-btns button {
  padding: 10px 7px;
  text-align: center;
  color: #fff;
  font-weight: 800;
}

.tab-btns li::after {
  position: absolute;
  top: 50%;
  right: -1px;
  transform: translateY(-50%);
  display: inline-block;
  width: 1px;
  height: 10px;
  background-color: #fff;
  content: "";
}

.tab-btns li:last-child::after {
  background-color: transparent;
}

.tab-inner {
  font-size: 13px;
  padding: 10px 5px;
  border: 1px solid #ddd;
}

.tab-inner li {
  position: relative;
}

.tab-inner a {
  display: block;
  width: 70%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tab-inner .date {
  position: absolute;
  top: 0;
  right: 5px;
}

/* info-top : quick-menu  */

.quick-menu {
  width: 85%;
  margin: 0 auto 20px;
  border: 1px solid #ddd;
}

.qmenu-list {
  border-bottom: 1px solid #ddd;
}

.qmenu-list:last-child {
  border-bottom: none;
}

.qmenu-list a {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  background-color: #f5f5f5;
}

.qmenu-list > .icon1::before {
  display: block;
  width: 40px;
  height: 36px;
  background: url("../images/css_sprites.png") -533px -196px;
  content: "";
}

.qmenu-list > .icon2::before {
  display: block;
  width: 39px;
  height: 33px;
  background: url("../images/css_sprites.png") -379px -230px;
  content: "";
}

.qmenu-list > .icon3::before {
  display: block;
  width: 39px;
  height: 35px;
  background: url("../images/css_sprites.png") -533px -309px;
  content: "";
}

.q-more {
  width: 26px;
  height: 26px;
  background: url("../images/css_sprites.png") -363px -339px;
}

/* info-top : businesses  */
.businesses {
  width: 85%;
  margin: 0 auto;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 3px 2px 20px #a4a4a4;
  background-image: url(../images/bg_sect01_rt.jpg);
  background-size: contain;
  background-position: 100% 100%;
  background-repeat: no-repeat;
  background-color: #009abc;
  color: #fff;
  font-weight: 800;
}

.businesses > h3 {
  font-size: 16px;
  margin-bottom: 5px;
}

.businesses > ul {
  font-size: 14px;
  padding: 0 10px;
}

.businesses a {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.businesses a:hover {
  text-decoration: underline;
}

.businesses a::before {
  display: inline-block;
  width: 19px;
  height: 19px;
  padding-right: 10px;
  background-image: url("../images/css_sprites.png");
  content: "";
}

.businesses a.icon1::before {
  background-position: -310px -299px;
}

.businesses a.icon2::before {
  background-position: -145px -484px;
}

.businesses a.icon3::before {
  background-position: -388px -299px;
}

.businesses a.icon4::before {
  background-position: -349px -299px;
}

.businesses a.icon5::before {
  background-position: -184px -484px;
}

.businesses a:hover::before {
  opacity: 0.5;
}

/* info-bottom : tech-trends  */

.tech-trends {
  width: 85%;
  margin: 0 auto 20px;
}

.tech-trends > .inner {
  position: relative;
  border: 1px solid #ddd;
}

.trends-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 10px;
  text-align: center;
}

.trends-list li {
  width: 100px;
  margin: 0 10px;
}

.trends-list a::before {
  display: block;
  width: 90px;
  height: 90px;
  margin: 0 auto;
  background-image: url("../images/css_sprites.png");
  content: "";
}

.trends-list a.icon1::before {
  background-position: -10px -10px;
}

.trends-list a.icon1:hover::before {
  background-position: -10px -120px;
}

.trends-list a.icon2::before {
  background-position: -230px -10px;
}

.trends-list a.icon2:hover::before {
  background-position: -339px -10px;
}

.trends-list a.icon3::before {
  background-position: -339px -121px;
}

.trends-list a.icon3:hover::before {
  background-position: -230px -121px;
}

.trends-list a.icon4::before {
  background-position: -10px -230px;
}

.trends-list a.icon4:hover::before {
  background-position: -120px -230px;
}

.trends-list a.icon5::before {
  background-position: -120px -10px;
}

.trends-list a.icon5:hover::before {
  background-position: -120px -120px;
}

/* info-bottom : public-part  */
.public-part {
  width: 85%;
  margin: 0 auto 20px;
}

.public-part > .inner {
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 3px 2px 20px #a4a4a4;
}

.public-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding: 12px;
}

.public-list:first-child {
  border-bottom: 1px solid #ddd;
}

.public-info > h3 {
  font-size: 14px;
  font-weight: 800;
}

.public-info > p {
  font-size: 13px;
}

.public-link {
  align-self: flex-end;
  background-color: #e3ebf2;
  border-radius: 3px;
}

.public-link > a {
  display: block;
  padding: 5px;
  font-size: 13px;
  font-weight: 800;
}

/* events  */
.tab-btns > .active {
  border-radius: 5px;
  background-color: #00458b;
}

/* 
 * MAIN - R&D section
*/

.research-section {
  position: relative;
  width: 85%;
  margin: 0 auto;
}

.research-section img {
  width: 100%;
}

.research-list {
  display: block;
}

.research-list h3,
.research-list p {
  display: block;
  width: 90%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* 
 * MAIN - communication section
*/

/* common  */
.community-section {
  width: 85%;
  margin: 0 auto;
}

.community-section a {
  display: block;
}

.plaza li {
  width: 214px;
  border: 1px solid #ddd;
  padding: 6px;
}

.plaza h3 {
  font-size: 16px;
}

/* community-left: plaza-top  */
.plaza-inner {
  overflow: hidden;
}

.plaza-inner img {
  width: 100%;
  height: 142px;
  object-fit: cover;
  object-position: top;
  transform: scale(1);
  transition: all 300ms ease-in;
}

.plaza-top a:hover img {
  transform: scale(1.2);
}

/* community-left: plaza-bottom  */

.plaza-bottom a {
  padding: 20px 16px 15px;
}

.plaza-bottom a:hover h3,
.plaza-bottom a:hover .date {
  text-decoration: underline;
}

.plaza-bottom a::before {
  display: block;
  width: 37px;
  height: 37px;
  background-image: url("../images/css_sprites.png");
  content: "";
}

.plaza-bottom a.icon1::before {
  background-position: -533px -252px;
}
.plaza-bottom a.icon2::before {
  background-position: -533px -421px;
}
.plaza-bottom a.icon3::before {
  background-position: -533px -364px;
}
.plaza-bottom a.icon4::before {
  background-position: -323px -230px;
}

.plaza-bottom h3 {
  font-size: 16px;
  margin: 14px 0 18px;
}

.plaza-bottom .date {
  font-size: 14px;
}

/* community-right  */
.promotion {
  margin-bottom: 20px;
}

.promo-top {
  margin-bottom: 10px;
}

.promo-top a {
  overflow: hidden;
}

.promo-top img,
.promo-bottom img {
  width: 100%;
  transform: scale(1);
  transition: all 300ms ease-out;
}

.promo-bottom {
  display: flex;
  justify-content: space-between;
}

.promo-bottom a {
  width: 48%;
  overflow: hidden;
}

.promotion a:hover img {
  transform: scale(1.2);
}

/* 
 * MAIN - banners
*/

.banner-section .prev,
.banner-section .stop,
.banner-section .next {
  width: 26px;
  height: 26px;
  background-image: url("../images/css_sprites.png");
}

.banner-section .prev {
  background-position: -225px -339px;
}

.banner-section .stop {
  background-position: -271px -339px;
}

.banner-section .next {
  background-position: -317px -339px;
}
