/* header  */
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  height: 500px;
  padding: 50px 30px;
  background: url(../images/arts29.jpg) bottom no-repeat;
  background-size: cover;
}

.logo-ico {
  width: 60px;
  height: 60px;
}

.gnb_btn {
  margin: 10px 0;
}

/* main - socialwall table  */
.main {
  max-width: 1024px;
  width: 90%;
  margin: 40px auto;
}

.socialwall {
  width: 100%;
}

.socialwall > h2 {
  text-align: center;
}

.socialwall > h2::before,
.socialwall > h2::after {
  position: relative;
  bottom: 5px;
  display: inline-block;
  width: 100px;
  height: 2px;
  margin: 0 20px;
  background-color: #000;
  content: '';
}

.socialwall > .write_btn {
  display: block;
  width: 100px;
  padding: 10px;
  margin: 0 0 10px auto;
  opacity: 0.7;
  font-size: 16px;
  font-weight: 800;
  -webkit-transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}

.socialwall > .write_btn:hover {
  opacity: 1;
}

.socialwall_table {
  width: 100%;
}

.socialwall_table,
.socialwall_table th,
.socialwall_table td {
  padding: 5px 20px;
  border: 3px solid #474747;
}

.socialwall_table th:not(:last-child),
.socialwall_table td:not(:last-child) {
  border-right-color: transparent;
}

.socialwall_table th {
  background-color: #474747;
  color: #fff;
}

.socialwall_table td:not(:nth-child(2)) {
  font-size: 14px;
  text-align: center;
}

.socialwall_table td.title > a {
  display: block;
  width: 90%;
  height: 30px;

  -o-text-overflow: ellipsis;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/* post contents modal  */
.post_wrapper {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  height: 80%;
  padding: 20px;
  border: 3px solid #474747;
  background-color: #fff;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.post_wrapper.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.post_wrapper > .close_btn {
  -ms-flex-item-align: end;
  align-self: flex-end;
  width: 100px;
  padding: 10px 20px;
  margin-bottom: 10px;
  border: 2px solid #474747;
  color: #474747;
}

.post_wrapper > .delete_btn {
  position: absolute;
  right: 130px;
  width: 100px;
  padding: 10px 20px;
  border: 2px solid #9e0c0c;
  color: #9e0c0c;
}

.post_wrapper > h3 {
  padding: 10px;
  border-top: 2px solid #474747;
  border-bottom: 2px solid #474747;
}

.post_wrapper > p {
  padding: 20px;
}

.post_wrapper > span {
  position: absolute;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

/* post form  */

.post_form {
  position: absolute;
  top: 20px;
  left: 50%;

  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  width: 80%;
  height: 80%;
  padding: 20px;
  border: 2px solid #474747;
  background-color: #fff;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.post_form.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.post_form button {
  padding: 10px 20px;
  border: 2px solid #474747;
}

.post_form > .close_btn {
  -ms-flex-item-align: end;
  align-self: flex-end;
  width: 80px;
}

.post_form_list {
  margin-bottom: 20px;
}

.post_form_list > input {
  width: 500px;
  border: none;
  border-bottom: 2px solid #474747;
  background-color: transparent;
}

.post_form_list > textarea {
  width: 1000px;
  height: 600px;
  border: 2px solid #474747;
  background-color: transparent;
}

/* media query  */

@media screen and (max-width: 1024px) {
  /* header  */
  .gnb_btn {
    display: block;
  }

  .gnb_list {
    top: 120px;
    right: 30px;
  }

  .gnb_list.active {
    display: block;
    opacity: 1;
  }

  .gnb_list > li {
    display: block;
  }

  .gnb_list a,
  .gnb_list button {
    color: #474747;
  }

  .gnb_list a::after,
  .gnb_list button::after {
    background-color: #474747;
  }

  /*	main - socialwall */
  .socialwall_table,
  .socialwall_table th,
  .socialwall_table td {
    padding: 5px;
  }

  .socialwall > h2::before,
  .socialwall > h2::after {
    width: 0;
  }

  .socialwall_table th {
    font-size: 13px;
  }

  .socialwall_table th:nth-child(3),
  .socialwall_table td:nth-child(3),
  .socialwall_table th:nth-child(4),
  .socialwall_table td:nth-child(4) {
    display: none;
  }

  .socialwall_table td:not(:nth-child(2)) {
    font-size: 13px;
  }

  .socialwall_table td.title {
    width: 80%;
  }
}
@media screen and (max-width: 768px) {
  /* login page  */
  .login_area {
    width: 80%;
  }
  .login_form {
    width: 80%;
  }
  .login_form > h2 {
    font-size: 20px;
  }
  .login_search {
    font-size: 12px;
  }
}

@media screen and (max-width: 430px) {
  .socialwall_table td {
    font-size: 13px;
  }
}
