/* 
 * RESET CSS
*/

@font-face {
  font-family: "GmarketSansLight";
  font-weight: normal;
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff")
    format("woff");
  font-style: normal;
}

@font-face {
  font-family: "GmarketSansMedium";
  font-weight: normal;
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-style: normal;
}

@font-face {
  font-family: "GmarketSansBold";
  font-weight: normal;
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff")
    format("woff");
  font-style: normal;
}

@font-face {
  font-family: "Blacker Pro";
  font-weight: 700;
  src: local("Blacker Pro Display Bold"), local("Blacker-Pro-Display-Bold"),
    url("../fonts/BlackerProDisplayTrial-Bold.woff2") format("woff2"),
    url("../fonts/BlackerProDisplayTrial-Bold.woff") format("woff"),
    url("../fonts/BlackerProDisplayTrial-Bold.ttf") format("truetype");
  font-style: normal;
}

body,
h1,
h2,
h3,
h4,
h5,
ul,
li,
p,
div,
a,
span,
strong,
header,
main,
section,
footer,
img,
dl,
dt,
dd {
  margin: 0;
  box-sizing: border-box;
}

ul,
li {
  padding: 0;
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font-family: "GmarketSansMedium", sans-serif;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

img {
  display: block;
}

strong {
  font-weight: 400;
}

.icon::before,
.icon::after {
  font-family: "Font Awesome 5 Free";
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  font-weight: 800;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "GmarketSansBold", sans-serif;
  font-weight: 500;
}

m-hidden {
  display: none;
}

body {
  color: #1b1b2f;
  font-family: "GmarketSansMedium", sans-serif;
  font-size: 16px;
  background-color: #f3f3f3;
}

.hero {
  font-family: "GmarketSansLight", sans-serif;
  letter-spacing: -2px;
  font-weight: 600;
}

/* 
 * HEADER SECTION
*/

.header {
  width: 100%;
  height: 100vh;
  padding: 8vw;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 13vh;
  max-height: 170px;
}

.header-top h1 {
  font-size: 4vw;
  color: #2e3192;
}

.gnb-btn {
  position: relative;
  width: 9vw;
  height: 9vw;
  padding: 10px;
  border-radius: 2vw;
  background: linear-gradient(145deg, #e6e6e6, #ffffff);
  font-size: 30px;
}

.gnb-btn::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  font-size: 4vw;
  color: #2e3192;
  content: "\f0c9";
}

.gnb {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100vh;
  background-color: #2e3192;
  overflow: hidden;
  z-index: 9999;
}

.gnb ul {
  position: absolute;
  top: 50%;
  left: 15%;
  transform: translateY(-50%);
  font-size: 10vw;
  color: #fff;
}

.gnb li {
  margin-bottom: 10px;
}

.gnb a {
  display: block;
  padding: 5px 10px;
}

.gnb > .close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
}

.gnb > .close-btn::before {
  font-size: 30px;
  color: #fff;
  content: "X";
}

/* 
 * HERO SECTION
*/

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.hero-inner {
  position: relative;
  margin-bottom: 100px;
}

.hero-text {
  font-size: 7vw;
  line-height: 1.5em;
}

.smile-wrapper {
  position: absolute;
  bottom: 2px;
  right: 0;
  animation: spin 1s infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.smile-icon {
  width: 40px;
  height: 40px;
}

/* 
 * MAIN - ABOUT SECTION
*/

.about {
  padding: 4vw 8vw;
}

.section-title::after,
.about-default::after {
  display: block;
  width: 100%;
  height: 1px;
  margin: 10px 0 20px;
  background-color: #000;
  content: "";
}

.about-image {
  display: none;
}

.about-list p {
  font-size: 14px;
}

.about-default::after {
  margin: 20px 0;
}

.about-default h3 {
  margin-bottom: 10px;
}

.skill.active > .skill-btn::after {
  content: "\f00d";
}

.skill.active > p {
  display: block;
}

.skill-btn {
  position: relative;
  display: block;
  width: 100%;
  text-align: left;
  padding: 20px 0;
  font-size: 5vw;
  font-weight: 600;
}

.skill-btn::after {
  content: "\f078";
  position: absolute;
  top: 48%;
  right: 20px;
  font-size: 5vw;
  transform: translateY(-50%);
}

.skill > h3 {
  display: none;
}

.skill > p {
  display: none;
}

.skill .code {
  display: inline-block;
  padding: 2px 8px;
  border-radius: 9px;
  background-color: #d4d4d4;
  font-size: 12px;
}

/* 
 * MAIN - PROJECTS
*/
.projects {
  padding: 4vw 8vw;
}

.project-desc {
  font-size: 14px;
  margin-bottom: 20px;
}

.project > span {
  font-size: 20px;
  display: block;
  margin-bottom: 10px;
}

.project > .project-row {
  display: flex;
  padding-top: 4px;
  padding-bottom: 4px;
  justify-content: flex-start;
  border-top: 1px solid #000;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.03em;
}

.project-row h4 {
  width: 100px;
}

.project-row > p,
.project-row > div {
  width: calc(100% - 100px);
}

.project-row .publishing {
  margin-bottom: 5px;
}

.project-row .html,
.project-row .css,
.project-row .js,
.project-row .fullpage-pl,
.project-row .slide-pl,
.project-row .gsap {
  display: inline-block;
  padding: 1px 6px;
  border-radius: 10px;
  font-size: 12px;
}

.project-row .html {
  background-color: #c0eeff;
}

.project-row .css {
  background-color: #e2ffc0;
}

.project-row .js {
  background-color: #fff0c0;
}

.project-row .fullpage-pl {
  background-color: #f5c0ff;
}

.project-row .slide-pl {
  background-color: #ffc0c0;
}

.project-row .gsap {
  background-color: #c0ffdc;
}

.project-row .github-link {
  display: block;
  padding: 2px 0;
  margin: 2px 0;
  color: #2e3192;
  font-weight: 600;
}

/* 
 * FOOTER
*/

.footer {
  padding: 8vw;
  background-color: #2e3192;
  color: #f3f3f3;
  z-index: 9999;
}

.footer ul {
  margin-bottom: 10px;
}

.footer li {
  margin: 5px 0;
}

.footer a {
  display: inline-block;
  padding: 5px;
  font-weight: 600;
}

.footer p {
  font-size: 12px;
}

@media screen and (min-width: 768px) {
  .br {
    display: none;
  }

  m-hidden {
    display: block;
  }

  .header {
    padding: 50px;
  }

  .smile-wrapper {
    bottom: 10px;
    animation: spin 10s infinite;
  }

  .smile-icon {
    width: 100px;
    height: 100px;
  }

  /* MAIN */
  .main {
    position: relative;
    width: 100%;
    height: 100vh;
  }

  .main > section {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  /* ABOUT-SECTION */

  .about-inner {
    height: 100%;
  }

  .about-image {
    position: relative;
    display: block;
    height: 70%;
    max-height: 780px;
    margin-bottom: 20px;
    overflow-y: hidden;
  }

  .about-image .html-apple,
  .about-image .css-apple,
  .about-image .js-apple {
    width: 150px;
    position: absolute;
    top: -200px;
  }

  .about-image .html-apple {
    left: 25%;
  }

  .about-image .css-apple {
    left: 40%;
  }

  .about-image .js-apple {
    left: 55%;
  }

  .about-image .others-apple {
    width: 200px;
    position: absolute;
    top: -300px;
    left: 60%;
    z-index: 8888;
  }

  .about-image .bowl {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 580px;
  }

  .about-default::after {
    display: none;
  }

  .about-list {
    position: relative;
    height: 400px;
  }

  .about-list li {
    position: absolute;
    width: 100%;
    opacity: 0;
    transition: all 0.3s linear;
  }

  .about-list li.show {
    opacity: 1;
  }

  .about-list li::after,
  .about-list li::before {
    display: block;
    width: 100%;
    height: 1px;
    margin: 50px 0 20px;
    background-color: #000;
    content: "";
  }

  .about-list p {
    font-size: 16px;
  }

  .skill-btn {
    display: none;
  }

  .skill > h3 {
    display: block;
    font-size: 20px;
    margin-bottom: 20px;
  }

  .skill > p {
    display: block;
  }

  /* projects */
  .main > section.projects {
    background-color: #f3f3f3;
    z-index: 9999;
  }

  .project-website a {
    position: relative;
  }

  .project-website a:hover {
    color: #2e3192;
    font-weight: 800;
  }

  .project-website a::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #ffff67;
    z-index: -1;
    content: "";
    transition: all 0.3s linear;
  }

  .project-website a:hover::before {
    width: 100%;
  }
}

@media screen and (min-width: 1024px) {
  /* COMMON */
  .header,
  .main > section {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
  }

  .header,
  .about,
  .projects {
    padding: 30px;
  }

  /* HEADER */
  .header-top h1 {
    font-size: 30px;
  }

  .gnb-btn {
    width: 50px;
    height: 50px;
    padding: 10px;
    border-radius: 10px;
  }

  .gnb-btn::before {
    font-size: 30px;
  }

  .gnb ul {
    font-size: 100px;
  }

  .hero {
    position: relative;
  }

  .hero-inner {
    width: 100%;
    max-width: 950px;
    height: 470px;
    margin-bottom: 400px;
  }

  .hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    font-size: 78px;
  }

  /* MAIN */

  .main {
    position: relative;
    width: 100%;
    height: 100vh;
  }

  .main > section {
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
  }

  .section-title {
    font-size: 30px;
  }

  /* MAIN - ABOUT */
  .about-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 20px;
  }

  .about-image,
  .about-content {
    width: 70%;
  }

  .about-image {
    position: relative;
    display: block;
    margin-bottom: 100px;
    overflow: hidden;
  }

  .about-image .html-apple,
  .about-image .css-apple,
  .about-image .js-apple {
    top: -300px;
    width: 190px;
  }

  .about-image .others-apple {
    top: -400px;
    width: 260px;
  }

  .about-list {
    height: 200px;
  }

  .about-list li::after,
  .about-list li::before {
    display: none;
  }

  /* MAIN - PROJECTS */

  .main > section.projects {
    height: 100vh;
    padding: 30px;
  }

  .project-desc {
    font-size: 16px;
    margin-bottom: 50px;
  }

  .projects-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
  }

  .project {
    width: 48%;
    margin-bottom: 50px;
  }

  .project > span {
    font-size: 30px;
    margin-bottom: 20px;
  }

  .project > .project-row {
    display: flex;
    padding: 8px 0;
    font-size: 14px;
  }

  .project-row h4 {
    width: 120px;
  }

  .project-row > p,
  .project-row > div {
    width: calc(100% - 100px);
  }

  .project-row .publishing {
    margin-bottom: 10px;
  }

  .project-row .html,
  .project-row .css,
  .project-row .js,
  .project-row .fullpage-pl,
  .project-row .slide-pl,
  .project-row .gsap {
    padding: 2px 8px;
    border-radius: 20px;
    font-size: 14px;
  }

  /* FOOTER */

  .footer {
    padding: 50px;
  }

  .footer-inner {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
  }

  .footer ul {
    font-size: 18px;
  }

  .footer p {
    font-size: 14px;
  }
}
