.user-info,
.greetings {
  display: none;
}

.visible {
  display: block;
}

body {
  position: relative;
}

.background-image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
}
