/* reset & common css */

* {
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background-color: transparent;
  border: none;
}

ul {
  padding: 0;
  list-style-type: none;
}

input {
  border: none;
  border-radius: 5px;
}

.sr-only {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

/* styling css  */
body {
  position: relative;
  padding: 10px;
  background-color: #ddd;
}

.wrap {
  background-color: #fff;
  border-radius: 0 0 20px 20px;
}

.user-weather {
  padding: 5px 10px;
  font-size: 12px;
  text-align: right;
}

.user-time {
  font-size: 40px;
  font-weight: 800;
  text-align: center;
}

.main {
  padding: 10px;
  text-align: center;
}

.user-info,
.greetings {
  display: none;
  margin-bottom: 10px;
}

.user-info > label,
.user-todoform > label {
  font-size: 14px;
}

.user-info > input,
.user-todoform > input {
  border: 1px solid #b3b4b3;
}

.user-todoform {
  margin-bottom: 10px;
}

.todo-item {
  position: relative;
  width: 80%;
  padding: 5px 5px 5px 10px;
  margin: 0 auto;
  font-size: 13px;
  text-align: left;
}

.close-btn {
  position: absolute;
  right: 5px;
  color: #447961;
}

.background-image {
  display: block;
  width: 100%;
  border-radius: 20px 20px 0 0;
}

.footer {
  padding: 30px 10px 20px;
  font-size: 10px;
  text-align: center;
  font-weight: 800;
}

.footer > a {
  color: #447961;
}

/* class for JS  */

.visible {
  display: block;
}
