/* header  */

.scrolltop {
  position: fixed;
  right: 20px;
  bottom: 30px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: linear-gradient(145deg, #e6e6e6, #ffffff);
  box-shadow: 22px 22px 39px #c7c7c7, -22px -22px 39px #ffffff;
}

.scrolltop.ico::before {
  position: relative;
  top: 15px;
  display: block;
  width: 50px;
  height: 50px;
  color: #474747;
  font-size: 18px;
  text-align: center;
  content: '\f077';
}

.header {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  height: 100vh;
  background-image: url(../images/main.jpg);
  background-position: bottom;
  background-size: cover;
  overflow: hidden;
}

.logo {
  width: inline-block;
  color: #fff;
  font-size: 300px;
  line-height: 1em;
  text-align: center;
  transform: translateY(-55%);
  animation: 1.2s slideDown ease-in-out forwards 1s;
}

.logo-ico {
  display: inline-block;
  width: 70px;
  height: 70px;
  margin: 0 auto;
}

.gnb {
  align-self: flex-end;
  height: 20vh;
  padding: 20px 10px;
}

.gnb_btn {
  display: none;
  width: 40px;
  height: 40px;
  padding: 10px;
  margin: 20px 0 5px 20px;
  border-radius: 10px;
  background: linear-gradient(145deg, #e6e6e6, #ffffff);
  color: #4a5b3b;
  font-size: 30px;
}

.gnb_btn::before {
  position: relative;
  bottom: 10px;
  display: inline-block;
  font-size: 20px;
  text-align: left;
  content: '\f0c9';
}

.gnb_list > li {
  display: inline-block;
}

.gnb_list a,
.gnb_list button {
  display: inline-block;
  padding: 5px 10px;
  color: #fff;
  font-size: 20px;
}

.gnb_list a::after,
.gnb_list button::after {
  display: block;
  width: 0;
  height: 2px;
  background-color: #fff;
  opacity: 0;
  content: '';
  transition: opacity 0.5s ease-in-out;
}

.gnb_list a:hover::after,
.gnb_list button:hover::after {
  width: auto;
  opacity: 1;
}

/* section : about  */

.about_section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.about_section p,
.about_section h3 {
  font-size: 14px;
}

.about_section img {
  width: 100%;
}

.about_website {
  max-width: 300px;
  padding-right: 20px;
  margin-right: 20px;
  border-right: 2px solid #474747;
}

.about_website > h2 {
  font-size: 16px;
}

.about_monet {
  display: flex;
}

.about_monet > div {
  max-width: 300px;
}

.about_monet > div:first-child {
  margin-right: 40px;
}

/* section: gallery  */

.gallery_section {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 100vh;
  margin: 40px auto;
  padding: 20px 0;
  overflow: hidden;
}

.gallery_header {
  display: flex;
  justify-content: space-between;
}

.gallery_header > a.detail_link {
  align-self: flex-end;
}

.gallery_container {
  display: flex;
  width: 100%;
  flex-direction: column;
  overflow: hidden;
}

.gallery_container > ul {
  position: relative;
  display: flex;
}

.translate_right {
  animation-name: img_moving;
  animation-duration: 60s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: reverse;
}

.translate_left {
  animation-name: img_moving;
  animation-duration: 60s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.gallery_container img {
  max-width: 800px;
  height: 200px;
  margin: 10px;
}

@keyframes img_moving {
  0% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(-50%, 0, 0);
  }
}

/* section: community   */

.community_section {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 100vh;
  padding: 20px 0;
  margin: 0 auto;
}

.community_container {
  display: flex;
  align-items: flex-end;
  padding-bottom: 50px;
  height: 80vh;
}

.community_img {
  width: 50%;
  margin-right: 20px;
}

.community_img > img {
  width: 100%;
}

.community_desc {
  max-width: 500px;
}

.community_desc > p {
  margin-bottom: 40px;
}

.community_desc > a.detail_link {
  font-size: 15px;
}
