/* 
 * RESET CSS & COMMON CSS
*/
@font-face {
  font-weight: normal;
  font-family: 'GmarketSansLight';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
  font-style: normal;
}

@font-face {
  font-weight: normal;
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-style: normal;
}

@font-face {
  font-weight: normal;
  font-family: 'GmarketSansBold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
  font-style: normal;
}

:root {
  --fs-title: 80px;
  --fs-subtitle: 20px;
  --fs-large: 18px;
  --fs-normal: 16px;
  --fs-small: 14px;
  --accent-color: #325e9b;
  --accent2-color: #d14a4f;
  --dark-color: #2c2c2c;
}

* {box-sizing: border-box;}

body,
header,
section,
main,
ul,
li,
div,
img,
h1,
h2,
h3,
p {
  margin: 0;
}

body,
button {
  color: var(--dark-color);
  font-family: "GmarketSansMedium", sans-serif;
}

body { background-color: #eafafe;}

button {
  border: none;
  cursor: pointer;
  background-color: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,li {
  padding: 0;
  list-style-type: none;
}

textarea {resize: none;}

img {display: block;}

strong {font-weight: 400;}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.icon::before,
.icon::after {
  display: inline-block; 
  font-weight: 400;
  font-family: "Font Awesome 5 Free";
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.icon-brand::before,
.icon-brand::after {
  display: inline-block;
  font-family: "Font Awesome 5 Brands";
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased; 
}

/* 
 * HEADER  
*/

.header {
  padding: 30px;
  text-align: center;
  margin-bottom: 10px;
}

.header h1 {
  color: var(--accent-color);
  font-size: var(--fs-title);
  font-family: "GmarketSansBold", sans-serif;
  margin-bottom: 20px;
}

.header p {
  font-size: 18px;
  line-height: 1.5;
}

/* 
 * MAIN  
*/

/* main-common  */
.main-inner {
  display: flex;
  width: 100%;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1200px;
}

.ui-lists {
  width: 48%;
  margin-bottom: 20px;
  border-radius: 15px;
}

.ui-lists > div {margin:0 30px 10px;}

.ui-review {
  padding: 45px;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 0 8px 127px 0 rgb(0 0 0 / 11%);
}

.info {padding: 10px;}

.info h2 {
  font-size: var( --fs-subtitle);
  padding: 0 4px;
  margin-bottom: 10px;
}

.info .tags {font-size: var( --fs-small);}

.tags strong {
  padding: 5px;
  margin-right: 5px;
  border: 1px solid var(--dark-color);
  border-radius: 20px;
}

/* REVIEW-UI  */

.book-img {
  margin-bottom: 40px;
}

.book-img img {
  width: 150px;
  margin: 0 auto;
}

.review-bottom {
  text-align: center;
}

.review-bottom h3 {
  display: inline-block;
  width: 100px;
  border: 2px solid var(--accent-color);
  border-radius: 30px;
  padding: 5px;
  color: var(--accent-color);
  margin-bottom: 20px;
  text-align: center;
}

.stars {margin-bottom: 10px;}

.star {padding: 5px;}

.star::after {
  color: #c7c2c2;
  font-weight: 800;
  font-size: var(--fs-large);
  content: '\f005';
}

.star.active::after {color: var(--accent2-color);}

.review-bottom .text {
  width: 100%;
  margin-bottom: 10px;
}

.review-info {
  font-size: var(--fs-small);
  text-align: left;
  margin-bottom: 20px;
}

.review-info strong {padding: 0 5px;}

.spoiler::before {
  font-weight: 800;
  color: #c7c2c2;
  margin-right: 5px;
  content: '\f00c';
}

.spoiler.click::before {color: var(--accent2-color);}

.review-bottom .submit-btn {
  width: 100%;
  padding: 15px;
  border-radius: 10px;
  color: #fff;
  background-color: var(--accent-color);
  font-size: var(--fs-small);
}

