/*                                                                                     common & layout */
/*common*/
body,
button {
    font-family: 'Noto Sans KR', sans-serif;
}

.blind {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}

.clear-fix::after {
    display: block;
    content: '';
    clear: both;
}

/*layout*/
.inner-wrap,
.bottom-navbar {
    max-width: 1200px;
    margin: 0 auto;
}

.content_title {
    padding: 40px 0 20px;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
}

/*                                                                                                      header */
.header {
    position: relative;
    height: 710px;
    background-image: url(../img/header_background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/*aside-nav */

.aside-nav {
    display: flex;
    justify-content: flex-end;
}

.aside-nav_link {
    display: block;
    padding: 10px;
    font-size: 12px;
    color: #fff;
}

/*top-header */

.top-header_title {
    float: left;
    width: 112px;
    height: 44px;
    background-image: url(../img/ico-zeus-logo.png);
    background-repeat: no-repeat;
}

.main-nav {
    float: right;
}

.main-nav_item {
    float: left;
    margin: 0 25px;
}

.main-nav_item:last-child {
    margin-right: 9px;
}

.main-nav_link {
    color: #fff;
    font-weight: 800;
}

/*bottom-nav */

.bottom-navbar {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    border-top: 1px solid rgba(255,255,255,0.3);
}

.bottom-nav_item {
    float: left;
    width: 33.33%;
}

.bottom-nav_link {
    display: block;
    padding: 20px;
    color: rgba(255,255,255,0.7);
    font-size: 14px;
    text-align: center;
}

.bottom-nav_link:hover {
    border-top: 3px solid #fff;
    color: rgb(255,255,255);
    font-weight: 700;
}

/*slide button*/
.slides_btn {
    position: absolute;
    top: 383px;
    left: 386px;
}

.slides_btn a {
    display: inline-block;
    width: 29px;
    height: 30px;
    border: 2px solid #fff;
}

.prev-btn {
}

.next-btn {
    
}

.play-btn {
    
}

/*                                                                                                      main */

/*recommend list */
.content_menu {
    display: flex;
    justify-content: center;
}

.content_menu_item {
    margin: 10px 10px 30px;
    font-size: 17px;
    cursor: pointer;
}

.content_body {
    display: flex;
    justify-content: space-around;
}

.recommend_list {
    overflow: hidden;
    position: relative;
    width: 384px;
    height: 520px;
}

.recommend_rank {
   position: absolute;
    left: 20px;
    width: 60px;
    height: 70px;
    background-color: #000d17;
    color: #fff;
    font-size: 12px;
    text-align: center;
}

.rank_num {
    display: block;
    font-size: 29px;   
}

.recommend_img {
   display: block;
    width:100%;
    height: 100%;;
    object-fit: cover;
}

.recommend_text {
    position: absolute;
    bottom: -180px;
    margin: 15px;
    padding: 20px;
   color: #fff;
    transition: bottom 500ms;
}

.recommend_text:hover {
    bottom: 0;
    color: #000;
    background-color: #fff;
}

.recommend_title {
    font-size: 20px;
    margin-bottom: 20px;
}

.recommend_desc {
    font-size: 15px;
    margin-bottom: 70px
}

.recommend_price {
    color:#000;
    font-size: 23px;
}



