.shadow-b {width: 100px; height: 100px; margin-right: 20px; border-radius: 10px;}
.shadow-xs {box-shadow: $shadow-xs;}
.shadow-s {box-shadow: $shadow-s;}
.shadow-m {box-shadow: $shadow-m;}
.shadow-l {box-shadow: $shadow-l;}
.shadow-xl {box-shadow: $shadow-xl;}